.image-viewer-overlay,
.video-viewer-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(10, 10, 10, 0.7);
	z-index: 1021;
	/* High z-index to cover other content (bs-navbar is z=1020 */
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-viewer-content {
	text-align: center;
}

.image-viewer-content img {
	max-height: 98vh;
	max-width: 98vw;
	margin: auto;
	object-fit: contain;
}

.video-viewer-content {
	align-items: center;
	width: 100%;
	max-width: 90%;
	max-height: 90vh;
}

.video-viewer-content video {
	width: 100%;
	/* Make video responsive to container width */
	height: auto;
	/* Maintain aspect ratio */
	max-height: calc(100vh - 70px);
	/* Ensure it does not exceed the height of the viewport */
	object-fit: contain;
	/* Contain the video within the element bounds */
}

/* ================================================================================ */

.btn-close-overlay {
	position: absolute;
	top: 10px;
	/* Adjust as needed */
	right: 10px;
	/* Adjust as needed */
	color: white;
	/* For better visibility */
	font-size: 1.5rem;
	/* Adjust size as needed */
	z-index: 1022;
	/* Ensure its above the overlay content */
	background: rgba(0, 0, 0, 0.5);
	border: none;
	cursor: pointer;
}

.btn-close-overlay i {
	color: white;
}

.chevron-button {
	position: absolute;
	top: 50%;
	z-index: 1022;
	/* Ensure it's above the overlay content */
	background: rgba(0, 0, 0, 0.5);
	/* Semi-transparent background */
	border: none;
	color: white;
	cursor: pointer;
	padding: 10px;
}

.chevron-left {
	left: 10px;
	/* Adjust as needed */
}

.chevron-right {
	right: 10px;
	/* Adjust as needed */
}

/* ================================================================================ */

.media-loading-indicator {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(10, 10, 10, 0.7);
	/* Same as image/video overlay */
	z-index: 1021;
	/* Ensure it's on top */
	display: flex;
	align-items: center;
	justify-content: center;
	/* You can add additional styling here */
}

/* ================================================================================ */

.no-scroll {
	overflow: hidden;
}

.busy-cursor {
	cursor: wait;
}

figure.figure-icon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* Distributes space evenly between items */
	align-items: center;
	height: 100%;
	/* Ensures figure takes full height of its container */
	padding: 1rem;
	/* Adds some padding inside the figure */
	background-color: rgba(10, 10, 10, 0.7);
}

figure.figure-icon figcaption {
	text-align: center;
	max-width: 100%;
	word-wrap: break-word;
	margin-top: auto;
	/* Pushes the caption to the bottom */
}

figure.figure-icon i {
	font-size: 5rem;
}
