#contHome {
	display: flex;
	justify-content: center;
	align-items: center;
	/*
	height: calc(100vh - 70px);
	height: calc(-webkit-fill-available - 70px);
	*/
	/* .navbar .sticky-top in BS-5.3.0 is 62px (70px with buttons) */
}
