#contImageGrid {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0.25rem;
}

.gallery figure {
	margin: 0.25rem;
	flex: 1 0 auto;
	/* Set an explicit height */
	height: 200px;
	/* Set an explicit width */
	width: 200px;
	/* Hide overflow content */
	overflow: hidden;
	cursor: pointer;
}

.gallery figure img,
.gallery figure .folder-icon {
	display: block;
	height: 100%;
	/* Take up full height of figure */
	width: 100%;
	/* Take up full width of figure */
	object-fit: cover;
	/* Cover the whole area without squishing */
	object-position: center;
	/* Center the image in the area */
}

/* by default, captions are shown in the grid and shadowbox, this hides the grid caption! */
/*
.gallery figure figcaption {
	display: none;
}
*/

/* make bootstrap spinner animated! */
.bi-arrow-repeat {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* ----------------------------------------------------- */
/* columns */
/* ----------------------------------------------------- */

@media (min-width: 768px) {
	.gallery {
		--num-columns: 4;
	}
}

@media (min-width: 992px) {
	.gallery {
		--num-columns: 6;
	}
}

@media (min-width: 1200px) {
	.gallery {
		--num-columns: 8;
	}
}

@media (min-width: 1400px) {
	.gallery {
		--num-columns: 10;
	}
}
