#contImageGrid {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0.5rem;
}

.gallery figure {
	border-radius: 0.5rem;
	margin: 0.5rem;
	flex: 1 0 auto;
	/* Set an explicit height */
	height: 200px;
	/* Set an explicit width */
	width: 200px;
	/* Hide overflow content */
	overflow: hidden;
	cursor: pointer;
	/* Needed for absolute positioning of figcaption */
	position: relative;
}

.gallery figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	/*background-color: rgba(0, 0, 0, 0.2);*/
	background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.0) 100%);
	text-align: left;
	font-size: 0.8rem;
	padding: 0.25rem 0.5rem;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.gallery figure img,
.gallery figure .folder-icon {
	display: block;
	/* Take up full height of figure */
	height: 100%;
	/* Take up full width of figure */
	width: 100%;
	/* Cover the whole area without squishing */
	object-fit: cover;
	/* Center the image in the area */
	object-position: center;
}

/* make bootstrap spinner animated! */
/*
.bi-arrow-repeat {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
*/
