/* ----------------------------------------------------- */
/* slide-show */
/* ----------------------------------------------------- */

.slideShowContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	height: calc(100vh - 70px);
	height: calc(-webkit-fill-available - 70px);
	/* .navbar .sticky-top in BS-5.3.0 is 62px (70px with buttons) */
}

.slideShowContainer .slideShowMain {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

/* slide-show: normal size */
/*
.slideShowContainer .slideShowMain img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
*/
/* slide-show: stretch (esp for gifs) */
.slideShowContainer .slideShowMain img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}
