// First, import variables from Bootswatch
@import "~bootswatch/dist/darkly/variables";

// Override the pagination variables here
/* @see: https://getbootstrap.com/docs/5.3/customize/color/#using-the-new-colors */
/* FYI: WORKS
	$pagination-color: var(--bs-light);
	$pagination-hover-bg: var(--bs-secondary);
	$pagination-active-bg: $primary;
	$pagination-hover-bg: $gray-300;
*/
$pagination-hover-bg: $gray-500;
$pagination-bg: $gray-600;
$pagination-disabled-bg: $gray-700;
$pagination-active-bg: $primary;

/*
	orig:
	--bs-nav-pills-li nk-active-color: #fff;
	--bs-nav-pills-link-active-bg: #375a7f;
*/
/*
	no affect - had to override in style below
	$nav-tabs-link-active-color: #990011;
	$nav-pills-link-active-color: #333;
*/
$nav-pills-link-active-bg: $gray-800;

// Then, import Bootstrap's main SCSS
@import "~bootstrap/scss/bootstrap";

// Finally, import Bootswatch theme
@import "~bootswatch/dist/darkly/bootswatch";

// Your other styles
.ReactGridGallery_tile {
	background: transparent !important;
}

#leftNav .nav-pills .nav-link {
	color: $gray-600 !important;
}
#leftNav .nav-pills .nav-link.active {
	color: $gray-100 !important;
}
