// STEP 1: import these
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

/*
// pagination
$pagination-hover-bg: $gray-500;
$pagination-bg: $gray-600;
$pagination-disabled-bg: $gray-700;
$pagination-active-bg: $primary;
*/
$pagination-color: $secondary;
$pagination-active-bg: $secondary;
$pagination-hover-bg: $secondary;
$pagination-hover-color: var(--bs-white);
$pagination-active-border-color: $secondary;

// breadcrumbs
$breadcrumb-bg: null;
//$breadcrumb-font-size: 1.25rem; // "fs-5"

// This way we dont have to add `mb-0` to every <h5> in .card-title
$card-title-spacer-y: 0;

$breadcrumb-divider: quote(">");
//$breadcrumb-active-color: var(--bs-white);

$table-bg: var(--bs-black);

// STEP 2: After customizations above
@import "bootstrap";

.nouserselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// STEP 3: Your other styles
.ReactGridGallery_tile {
	background: transparent !important;
}

// FIXME:
.bg-darker-gray {
	background-color: #1d1b1b !important;
}
